{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter name of the book"><br>
    <input type="text" name="author" placeholder="Enter name of the author"><br>
    <input type="text" name="desc" placeholder="Enter description of the book"><br>
    <input type="text" name="year" placeholder="Enter the release year"><br>
    <input type="text" name="language" placeholder="Enter the language of the book"><br>
    <input type="file" name="img"><br>
    <input type="submit"><br>
</form>
{% endblock %}
